* {

}

body {

}

.home-section {
	background-color: green;
	height: 100vh;
}

#intro-section {
	background-color: #FFFFFF;
}

#info-section {
	background-color: #EA4335;
}

/* Tech we use section */
#tech-we-use-section {
	background-color: #4285F4;
	display: inline-block;
    font-family: Arial;
	padding: 20px 4% 20px 0;
	height: max-content;
	text-align: center;
}

.home-section p {
	display: block;
	color: white;
    font-weight: 20em;
    font-size: 2.5em;
    margin: 20px 0;
}

.table td {
	width: 100%;
	border: 0;
}

/*Wrappers modify */
.Flutter-wrapper{
	background-color: #FFFFFF;
	font-size: 10px;
	display: inline-block;
    color: #686D73;
    border-radius: 20px ;
    width: 600px;
    height: 545px;
    padding: 15px 60px;
    margin: 0 10% 0 5%;
	box-shadow: 2px 2px #686D73; 
}

.general-wrapper {
	background-color: #FFFFFF;
	font-size: 8px;
    display: inline-block;
    color: #686D73;
    border-radius: 20px  ;
    width: 538px;
    height: fit-content;
    padding: 3% 2%;
	margin: 0 0 20px 0.2%;
	box-shadow: 2px 2px #686D73; 
}

/* Image modify */
.Flutter-image{
    margin: 10% 0 12% 0;
}

.Android-image{
    margin: 4% 0 0 0;
    padding: collapse;
}

.TensorFlow-image{
    margin:4% 0 3% 0;
}

/* Other modify */
.des-text p{
    color: #686D73;
    margin: collapse 5% 7% 5%;
	padding: auto;
	height: fit-content;
}

.button p{
    font-size: 20px;
    border-radius: 15px ;
    background-color: #686D73;
    color: #FFFFFF;
    display: inline-block;
    padding: 5px 25px;
    margin: 5px 40px 10px 40px;
}

.button1 p {
	font-size: 24px;
    border-radius: 15px ;
    background-color: #686D73;
    color: #FFFFFF;
    display: inline-block;
    padding: 5px 25px;
    margin: 6% 40px 3% 40px;
}


#faq-section {
	background-color: #149D58;
}