* {

}

body {

}

.home-section {
	background-color: green;
	height: 100vh;
}

#intro-section {
	background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: max-content;
}

.intro-image, .intro-text{
    padding: 4em;
}


.intro-image img{
    width: 45vw;
    border-radius: 20px;
    background: #222220;
    padding: 4vw;
}

.intro-logo {
    width: 35vw;
}

.intro-desc {
    color: #686D73;
    margin-top: 30px;
    font-size: 1.5rem;
}

.red{
    color: #EA4335;
}

.blue{
    color: #4285F4;
}

.yellow{
    color: #FBBC09;
}

.green{
    color: #149D58;
}

#info-section {
	background-color: #EA4335;
}

/* Tech we use section */
#tech-we-use-section {
	background-color: #4285F4;
	display: inline-block;
    font-family: Arial;
	padding: 20px 4% 20px 0;
	height: max-content;
	text-align: center;
}

.table td {
	width: 100%;
	border: 0;
}

/*Wrappers modify */
.Flutter-wrapper{
	background-color: #FFFFFF;
	font-size: 10px;
	display: inline-block;
    color: #686D73;
    border-radius: 20px ;
    width: 600px;
    height: 545px;
    padding: 15px 60px;
    margin: 0 10% 0 5%;
	box-shadow: 2px 2px #686D73; 
}

.general-wrapper {
	background-color: #FFFFFF;
	font-size: 8px;
    display: inline-block;
    color: #686D73;
    border-radius: 20px  ;
    width: 538px;
    height: fit-content;
    padding: 3% 2%;
	margin: 0 0 20px 0.2%;
	box-shadow: 2px 2px #686D73; 
}

/* Image modify */
.Flutter-image{
    margin: 10% 0 12% 0;
}

.Android-image{
    margin: 4% 0 0 0;
    padding: collapse;
}

.TensorFlow-image{
    margin:4% 0 3% 0;
}

/* Other modify */
.des-text p{
    color: #686D73;
    margin: collapse 5% 7% 5%;
	padding: auto;
	height: fit-content;
}

.button p{
    font-size: 20px;
    border-radius: 15px ;
    background-color: #686D73;
    color: #FFFFFF;
    display: inline-block;
    padding: 5px 25px;
    margin: 5px 40px 10px 40px;
}

.button1 p {
	font-size: 24px;
    border-radius: 15px ;
    background-color: #686D73;
    color: #FFFFFF;
    display: inline-block;
    padding: 5px 25px;
    margin: 6% 40px 3% 40px;
}


#faq-section {
	background-color: #149D58;
}

/*Spacing at the ends of nav bar*/
.navbar {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  display: block;  
  padding-left: 5.2rem;
  padding-right: 6.5rem;
}

/*Link aesthtic and placing*/
.links {
  margin-top: 2rem;
  margin-bottom: 2rem;
  float: right;
  font-size: 1.15rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/*Spaces between the links*/
.gaps {
  padding-left: 6rem;
  margin-top: 2rem;
  float: right;
}

/*Image sizing*/
.navbar-logo img {
  width: 24%;
  height: auto;
  margin-top: 1rem;
}

/*Drop shadow*/
.shadow {
  height: 80px;
  width: 100%;
  box-shadow: 0px 4px 10px grey;  
}

h1{
    margin-top: 10vh;
}



